@model QRWebApp.Models.CountDto
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if(ViewBag.Msg != null)
    {
        <div class="row" style="background-color: red">
            @ViewBag.Msg
        </div>
    }
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {


        <div class="mb-3 mt-3">
            <div class="col-3">
                <label for="email" class="form-label" style="float:left">Number Required:</label>
                @Html.TextBoxFor(m => m.DataCount,  new { style="color:red", @class="form-control", @type="number" })
            </div>
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label" style="float:left">Content:</label>
            @Html.TextBoxFor(m => m.Data,  new { @class="form-control" })
        </div>

        <button type="submit" class="btn btn-primary">Generate QR Code</button>
    }


</div>
